body {
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
    color: #333;
    text-align: center;
  }
  
  .container {
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  input, select, button {
    padding: 10px;
    margin: 10px;
    width: 80%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  
  .correct {
    color: green;
  }
  
  .wrong {
    color: red;
  }
  .not-answered {
    color: orange;
  }
  
  